---
import Intro from "../components/Intro.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "请叫我仓鼠阁下";
---

<BaseLayout pageTitle={pageTitle}>
    <div
        class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
    >
        <Intro />
    </div>
</BaseLayout>
