---
import Intro from "../components/Intro.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RecentPosts from "../components/RecentPosts.astro";
const pageTitle = "请叫我仓鼠阁下";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="mx-auto max-w-screen-lg px-3 py-6">
        <Intro />
    </div>
    <div class="mx-auto max-w-screen-lg px-3 py-6">
        <RecentPosts />
    </div>
</BaseLayout>
