---
const { pageTitle } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/images/lordhamster_head.png" />
    <meta name="keywords" content="请叫我仓鼠阁下,仓鼠阁下,博客,LordHamster" />
    <meta name="author" content="请叫我仓鼠阁下" />
    <meta name="site" content="https://blog.lordhamster.com" />
    <title>{pageTitle}</title>
</head>
