<nav>
    <ul class="flex gap-x-3 font-medium text-gray-200">
        <li class="hover:text-white">
            <a href="/posts">Blogs</a>
        </li><li class="hover:text-white">
            <a href="/tags">Tags</a>
        </li><li class="hover:text-white">
            <a href="https://github.com/lordhamster66" target="_blank">
                Github
            </a>
        </li>
    </ul>
</nav>
