---
const { prevUrl, nextUrl } = Astro.props;
---

<div class="flex gap-6 justify-center">
    <a
        class:list={[
            "rounded-md px-12 py-1 text-l font-semibold hover:translate-y-1 border-2 border-white",
            { hidden: !prevUrl },
        ]}
        href={prevUrl}
    >
        &lt; Prev
    </a>
    <a
        class:list={[
            "rounded-md px-12 py-1 text-l font-semibold hover:translate-y-1 border-2 border-white",
            { hidden: !nextUrl },
        ]}
        href={nextUrl}
    >
        Next &gt;
    </a>
</div>
