---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1 class="text-center text-3xl font-bold">{frontmatter.title}</h1>
    <div class="mt-2 text-center text-sm text-gray-400">
        {
            frontmatter.date.toLocaleDateString("zh", {
                year: "numeric",
                month: "long",
                day: "numeric",
            })
        }
    </div>
    <div class="mx-auto mt-5 max-w-prose">
        <div
            class:list={[
                "grid grid-cols-1 gap-6 md:grid-cols-3",
                { hidden: frontmatter.tags.length === 0 },
            ]}
        >
            <div class="ml-3 flex gap-2">
                {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
            </div>
        </div>
        <div class="prose prose-invert mt-8 prose-img:rounded-lg">
            <slot />
        </div>
    </div>
</BaseLayout>
